{% extends 'base.html' %}

{% block tasks %}

    <div class="tasks">    
    {% for task in tasks_ %}
    
    <li class="task">
        <div class="task-header">
        <h3>{{ task.title }}</h3>
            <a href="/delete/{{ task.id }}"><div class="task-progress">Complete</div></a>
        </div>
        <div class="task-content">
        <p>{{ task.content }}</p>
        <p>Time Left: <span class="time-left">{{ calculate_delta(task.date_created.date()) }}</span></p>
        </div>
    </li>
    {% endfor %}
    </div>

{% endblock %}